# The To Dos 

* Total number of months included in the dataset
* The net amount of profit over the period
* Total change, greatest and smallest on which date

In [11]:
#import the necessary libraries
import pandas as pd

In [12]:
#read the file and convert it to df
df = pd.read_csv('budget_data.csv')
df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [13]:
#check the data types 
df.dtypes

Date             object
Profit/Losses     int64
dtype: object

In [14]:
#setting date as the index
df = df.set_index('Date')
df.head()

          Profit/Losses
Date
Jan-2010         867884
Feb-2010         984655
Mar-2010         322013
Apr-2010         -69417
May-2010         310503

In [15]:
# count the number of months in the df using shape
total_months = df.shape[0]
total_months

86

In [16]:
# calculate the sum of PnL for the whole sheet
total_PnL = df.sum()['Profit/Losses']
total_PnL

38382578

In [17]:
# get the monthly change of PnL using pandas and create it
df['Change'] = df['Profit/Losses'].diff()
df.head()

          Profit/Losses    Change
Date
Jan-2010         867884       NaN
Feb-2010         984655  116771.0
Mar-2010         322013 -662642.0
Apr-2010         -69417 -391430.0
May-2010         310503  379920.0

In [20]:
#get the average change in profit/losses
avg_change = df['Change'].mean()
avg_change

-2315.1176470588234

In [21]:
#get the max and min profit change and get the months in which that happened
#get the months using shape or len function or method demonstrated in class
maxchange = df['Change'].max()
maxdate = df.Change[df.Change == maxchange].index.tolist()
minchange = df['Change'].min()
mindate = df.Change[df.Change == minchange].index.tolist()

In [22]:
print('Financial Analysis\n-------------------------')
print('Total Months:', total_months)
print('Total PnL: $',total_PnL)
print('Average Change: $', round(avg_change, 2))
print('Greatest Increase in Profits: $', maxchange, maxdate)
print('Greatest Decrease in Profits: $', minchange, mindate)

Financial Analysis
-------------------------
Total Months: 86
Total PnL: $ 38382578
Average Change: $ -2315.12
Greatest Increase in Profits: $ 1926159.0 ['Feb-2012']
Greatest Decrease in Profits: $ -2196167.0 ['Sep-2013']

In [25]:
#export to a a text file
with open('Budget_Analysis_Summary.txt', 'w') as file:
    file.write('Financial Analysis')
    file.write('\n')
    file.write('-----------------')
    file.write('\n')
    file.write(f"Total Months: {total_months}")
    file.write('\n')
    file.write(f"Total PnL: {total_PnL}")
    file.write('\n')
    file.write(f"Total PnL: {round(avg_change, 2)}")
    file.write('\n')
    file.write(f"Greatest Increase in Profits: {maxdate} ${int(maxchange)}")
    file.write('\n')
    file.write(f"Greatest Decrease in Profits: {mindate} ${int(minchange)}")